
@{
    ViewBag.Title = "PageNoteFound";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/boot/css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>


    <link rel="icon" href="/Content/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Content/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome/all.css">
    <link rel="stylesheet" href="/Content/css/owl-carousel/owl.carousel.min.css">
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/media.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div>





        <form action="/User/ForgotPassword" method="post">
            <div id="main-container" class="main-container">
                <div id="inner-container" class="inner-container">

                    <div id="middle">
                        <section class="common-section collegebol-predictor-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="cmn-heading">Page Note Found</h1>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="register-step-cnt">

                                            <div class="register-steps-form">
                                                
                                                <h1 class="text-center" style="color: #ffcd29; font-size: 150px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;">404</h1>
                                                <h3 class="text-center">The Page You Seek Does Not Exist</h3>
                                                
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </section>


                    </div>
                </div>

            </div>
        </form>
    </div>

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/bootstrap/popper.min.js"></script>
    <script src="/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="/Content/js/custom.js"></script>
    <script src="/Content/js/owl-carousel/owl.carousel.js"></script>
    <script src="/Scripts/jquery-3.3.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>


</body>
</html>
